html {

    scroll-behavior: smooth;

}

body {

    background-color: #fdfaf6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;

}

h1:hover {

    color: #ec4899;

}


p:hover {

    color: #ec4899;



}

.t1 {

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    margin-right: 100px;

}


.t2 {

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}